# E.coli Data XML Data Scraping Phase

In [1]:
import xml.etree.cElementTree as et
import pandas as pd
import numpy as np
import requests

from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.graphics import tsaplots

from pandas.plotting import autocorrelation_plot
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from sklearn.metrics import mean_squared_error

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from IPython.core.debugger import set_trace

In [2]:
#Define "get value of node" function to handle errors where there is null data
def getvalueofnode(node):
    """ return node text or None """
    return node.text if node is not None else None

In [3]:
# retrieve the XML data from the URL
beaches_history = requests.get('http://app.toronto.ca/tpha/ws/beaches/history.xml?v=1.0&from=2009-06-01&to=2018-09-15').text

In [4]:
#parse the XML
parsed_xml = et.fromstring(beaches_history)

In [5]:
#Define dataframe columns and create dataframe to receive parsed data
metacols = ['beachID','beachName','beachLat','beachLong']
dfcols = ['beachID', 'sampleDate', 'publishDate', 'eColiCount','beachAdvisory']
df_beaches_meta = pd.DataFrame(columns=metacols)
df_beaches_history = pd.DataFrame(columns=dfcols)

In [6]:
#Iterate through all elements and return the beach metadata via attributes
for node in parsed_xml.iter():
    beachID = node.attrib.get('id')
    beachName = node.attrib.get('name')
    beachLat = node.attrib.get('lat')
    beachLong = node.attrib.get('long')

    #Only append the result to the dataframe for elements where beachID is not blank
    if beachID is not None:
 
        df_beaches_meta = df_beaches_meta.append(
            pd.Series([beachID, beachName, beachLat, beachLong], index=metacols),
            ignore_index=True)

In [7]:
#Iterate through all elements and return the data we want via attributes
for node in parsed_xml.iter():
    beachID = node.attrib.get('beachId')
    sampleDate = node.find('sampleDate')
    publishDate = node.find('publishDate')
    eColiCount = node.find('eColiCount')
    beachAdvisory = node.find('beachAdvisory')

    #Only append the result to the dataframe for elements where beachID is not blank
    if beachID is not None:
 
        df_beaches_history = df_beaches_history.append(
            pd.Series([beachID, getvalueofnode(sampleDate), getvalueofnode(publishDate),
                        getvalueofnode(eColiCount),getvalueofnode(beachAdvisory)], index=dfcols),
            ignore_index=True)

In [8]:
#Replace empty data with np.nan values
df_beaches_history.replace(to_replace=[None], value=np.nan, inplace=True)

In [9]:
#Merge historical data with current data
beach_data_merged = results=df_beaches_history.merge(df_beaches_meta,on='beachID')

In [10]:
#Clean the beach data
beach_data_clean=df_beaches_history.drop(['beachAdvisory','publishDate'],axis=1)
beach_complete=beach_data_clean.pivot(index='sampleDate',columns='beachID',values='eColiCount')
beach_complete.index = pd.to_datetime(beach_complete.index)

In [11]:
beach_complete.head()

beachID      1  10  11   2   3   4   5   6   7   8   9
sampleDate
2009-06-01  27  12  39  28  11  18  24  63  51  10  10
2009-06-02  10  14  52  16  10  18  22  18  19  10  10
2009-06-03  22  11  14  10  10  11  14  10  10  10  10
2009-06-04  26  10  11  10  10  11  11  10  10  10  10
2009-06-05  35  10  31  11  10  10  10  12  10  10  10

In [12]:
#Renaming the beach columns from their beachIDs to their names + beachIDs so that
#the beach columns are more easily recognized.
beach_complete = beach_complete.rename(columns={"1": "MCurtis-1", "10": "Bluffers-10", "11": "Rouge-11", 
                                       "2": "Sunnyside-2", "3": "Hanlans-3",
                                       "4": "Gibraltar-4", "5": "Centre-5",
                                       "6": "Wards-6", "7": "Cherry-7", "8": "Woodbine-8",
                                       "9": "KewBalmy-9"})
beach_complete.head()

beachID,MCurtis-1,Bluffers-10,Rouge-11,Sunnyside-2,Hanlans-3,Gibraltar-4,Centre-5,Wards-6,Cherry-7,Woodbine-8,KewBalmy-9
sampleDate,,,,,,,,,,,
2009-06-01,27,12,39,28,11,18,24,63,51,10,10
2009-06-02,10,14,52,16,10,18,22,18,19,10,10
2009-06-03,22,11,14,10,10,11,14,10,10,10,10
2009-06-04,26,10,11,10,10,11,11,10,10,10,10
2009-06-05,35,10,31,11,10,10,10,12,10,10,10

In [13]:
beach_complete.fillna(np.nan, inplace=True)

In [14]:
beach_complete.apply(pd.to_numeric)

beachID,MCurtis-1,Bluffers-10,Rouge-11,Sunnyside-2,Hanlans-3,Gibraltar-4,Centre-5,Wards-6,Cherry-7,Woodbine-8,KewBalmy-9
sampleDate,,,,,,,,,,,
2009-06-01,27.0,12.0,39.0,28.0,11.0,18.0,24.0,63.0,51.0,10.0,10.0
2009-06-02,10.0,14.0,52.0,16.0,10.0,18.0,22.0,18.0,19.0,10.0,10.0
2009-06-03,22.0,11.0,14.0,10.0,10.0,11.0,14.0,10.0,10.0,10.0,10.0
2009-06-04,26.0,10.0,11.0,10.0,10.0,11.0,11.0,10.0,10.0,10.0,10.0
2009-06-05,35.0,10.0,31.0,11.0,10.0,10.0,10.0,12.0,10.0,10.0,10.0
2009-06-06,133.0,13.0,29.0,18.0,12.0,10.0,12.0,16.0,10.0,12.0,10.0
2009-06-07,604.0,16.0,20.0,97.0,37.0,28.0,41.0,47.0,10.0,12.0,11.0
2009-06-08,405.0,17.0,99.0,142.0,31.0,33.0,43.0,39.0,10.0,10.0,12.0
2009-06-09,NaN,37.0,368.0,63.0,11.0,20.0,16.0,11.0,12.0,18.0,34.0
2009-06-10,170.0,25.0,155.0,26.0,11.0,18.0,21.0,11.0,12.0,18.0,31.0
2009-06-11,62.0,10.0,27.0,12.0,10.0,11.0,17.0,11.0,10.0,10.0,10.0
2009-06-12,26.0,14.0,61.0,14.0,10.0,10.0,11.0,12.0,11.0,13.0,14.0
2009-06-13,114.0,14.0,46.0,20.0,10.0,10.0,12.0,15.0,14.0,13.0,14.0
2009-06-14,219.0,10.0,11.0,19.0,11.0,10.0,13.0,16.0,15.0,10.0,11.0
2009-06-15,199.0,10.0,13.0,14.0,11.0,10.0,13.0,11.0,13.0,10.0,11.0
2009-06-16,47.0,10.0,28.0,16.0,10.0,10.0,15.0,10.0,11.0,10.0,12.0
2009-06-17,62.0,60.0,138.0,37.0,11.0,10.0,14.0,10.0,11.0,50.0,81.0
2009-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-19,343.0,315.0,86.0,65.0,11.0,10.0,13.0,33.0,46.0,88.0,108.0
2009-06-20,758.0,425.0,101.0,63.0,NaN,NaN,NaN,NaN,206.0,61.0,93.0
2009-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-28,NaN,28.0,NaN,34.0,NaN,NaN,NaN,NaN,351.0,31.0,40.0
2009-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2018-08-05,11.0,10.0,10.0,60.0,36.0,19.0,49.0,11.0,11.0,10.0,23.0
2018-08-06,12.0,11.0,15.0,114.0,91.0,20.0,51.0,10.0,13.0,11.0,41.0
2018-08-07,115.0,14.0,87.0,343.0,57.0,23.0,71.0,17.0,14.0,13.0,32.0
2018-08-08,895.0,16.0,319.0,722.0,46.0,26.0,189.0,116.0,60.0,11.0,18.0
2018-08-09,440.0,24.0,83.0,659.0,64.0,37.0,247.0,475.0,234.0,20.0,15.0
2018-08-10,385.0,53.0,24.0,343.0,52.0,58.0,86.0,213.0,103.0,23.0,84.0
2018-08-11,313.0,29.0,19.0,80.0,20.0,43.0,24.0,30.0,33.0,12.0,82.0
2018-08-12,40.0,11.0,16.0,37.0,16.0,18.0,21.0,10.0,27.0,20.0,21.0
2018-08-13,28.0,10.0,45.0,60.0,16.0,15.0,37.0,11.0,20.0,46.0,27.0
2018-08-14,57.0,22.0,62.0,76.0,15.0,14.0,40.0,11.0,14.0,51.0,41.0
2018-08-15,34.0,27.0,35.0,87.0,13.0,13.0,41.0,10.0,14.0,20.0,53.0
2018-08-16,17.0,12.0,37.0,76.0,10.0,12.0,28.0,11.0,11.0,13.0,29.0
2018-08-17,100.0,14.0,140.0,128.0,10.0,11.0,84.0,19.0,10.0,76.0,127.0
2018-08-18,752.0,15.0,651.0,436.0,NaN,20.0,67.0,48.0,13.0,420.0,684.0
2018-08-19,165.0,13.0,109.0,346.0,NaN,20.0,12.0,28.0,15.0,116.0,100.0
2018-08-20,55.0,13.0,27.0,107.0,38.0,16.0,13.0,12.0,15.0,36.0,22.0
2018-08-21,145.0,23.0,NaN,161.0,30.0,23.0,32.0,21.0,32.0,69.0,52.0
2018-08-22,546.0,63.0,NaN,474.0,45.0,25.0,32.0,20.0,177.0,83.0,97.0
2018-08-23,328.0,54.0,170.0,285.0,219.0,61.0,16.0,20.0,131.0,52.0,60.0
2018-08-24,72.0,20.0,79.0,97.0,288.0,54.0,20.0,35.0,23.0,51.0,34.0
2018-08-25,NaN,12.0,61.0,123.0,36.0,14.0,22.0,29.0,22.0,38.0,55.0
2018-08-26,NaN,12.0,NaN,169.0,11.0,13.0,19.0,21.0,33.0,19.0,55.0
2018-08-27,1953.0,11.0,NaN,254.0,10.0,26.0,23.0,37.0,30.0,15.0,16.0
2018-08-28,691.0,10.0,46.0,423.0,10.0,30.0,36.0,60.0,49.0,41.0,39.0
2018-08-29,169.0,10.0,19.0,308.0,11.0,25.0,51.0,28.0,40.0,158.0,93.0
2018-08-30,24.0,11.0,15.0,158.0,11.0,19.0,44.0,16.0,16.0,51.0,28.0
2018-08-31,61.0,12.0,24.0,48.0,10.0,20.0,NaN,13.0,15.0,36.0,42.0
2018-09-01,NaN,14.0,49.0,23.0,10.0,22.0,NaN,10.0,12.0,59.0,54.0
2018-09-02,NaN,15.0,59.0,40.0,11.0,11.0,34.0,10.0,11.0,23.0,20.0
2018-09-03,38.0,13.0,42.0,132.0,12.0,10.0,57.0,10.0,12.0,19.0,17.0

In [15]:
beach_complete.to_csv('beach_complete.csv',sep=',',na_rep=np.nan)